*{
    margin: 0;
    padding: 0;
}

.grid-container{
    /* height: 500vh; */
    padding: 50px;
    margin: 75px;
    display: grid;
    grid-template-columns: repeat(5,auto);
     background-color: aquamarine;
    border: 2px solid black;
    gap: 10px;
   
}

.grid-container > div {
    grid-column: 1 /  6;
    font-size: 30px;
    text-align: center;
}

img.yuvarlak{
    border-radius: 50px;
}

input.ızle{
    border-radius: 10px;
    text-align: center;
    height: 50px;
    width: 150px;
    background-color: rgb(139, 109, 167);

}

.video{
    border-radius: 10px;
}


